.note{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.soumettre{
    margin: 2vh;
}

.soumettre button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.soumettre button:hover {
    color: rgba(170, 186, 204, 1); 
}

.total{
    margin:2vh;
}
.moy{
    margin:2vh;
}
