.note{
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
}
.soumettre{
    margin: 2vh;
}

.soumettre button {
    background-color: transparent;
    border: none;
    font-size: 0; 
    cursor: pointer;
    position: relative;
}

.soumettre button::before {
    font-size: 64px; 
    content: "★"; 
}

.star{
    color: green;
}

.total{
    margin:2vh;
}
.moy{
    margin:2vh;
}

