.wrapper{
    background-color:rgba(30, 38, 45, 1); 
    color: rgba(170, 186, 204, 1); 
    padding: 0;
    left: 0;
    overflow: hidden;
}

.banner-wrapper {
    display: flex;
    height: 675px;
    position: relative;
    width: 1200px;
    z-index: 0;
}

.banner-wrapper img{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom , rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), 
                linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
                linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); 
}
.accueil {
    align-items: center;
    color: rgba(170, 186, 204, 1);
}


