.commentaire{
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid rgb(80, 88, 97); 
    padding: 2vh;
    flex-basis: 50%;
}

.ajout{
    flex-grow: 1;
}

.show{
    flex-grow: 3;
}


